.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  .modal-header {
    padding: 2.5rem;
    h3 {
      padding-bottom: 0.5rem;
      color: var(--text-main);
      font-size: 1.1rem;
      line-height: 1.5;
      font-weight: 500;
      text-align: left;
    }
  }

  .divider {
    border: 0;
    border-top: 1px solid var(--border-color);
    margin-bottom: 1.5rem;
  }

  .modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem 2.5rem 2rem 2.5rem;

    button {
      padding: 1rem;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.1rem;
      border: none;
      width: 100%;
    }
  }
}

.error-banner {
  color: var(--error-color);
  background-color: #fee2e2;
  padding: 0.75rem;
  border-radius: 4px;
  margin-top: 1.25rem;
  font-size: 0.9rem;
  text-align: left;
  border: 1px solid #f87171;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
