.app-header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  .header-content h1 {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-family: var(--font-family-title);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 2rem;
  }
}
