.form-container {
  padding: 2rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  border-radius: 4px;
  background-color: var(--bg-primary);
}

.form-title {
  font-size: 2rem;
  color: var(--primary-text-color);
  text-align: center;
  padding: 2rem 0;
}

.form {
  padding: 2rem 3rem;
}

.divider {
  border: 0;
  border-top: 2px solid var(--primary-border-color);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
  margin-bottom: 2.5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: var(--primary-text-color);
  }

  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--primary-border-color);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--primary-text-color);
    outline: none;
    transition: all 0.2s ease-in-out;

    &:focus {
      border-color: var(--primary-text-color);
    }

    &.is-invalid {
      border-color: var(--error-color);
    }

    &:disabled {
      background-color: var(--secondary-color);
      cursor: not-allowed;
      color: var(--primary-text-color);
    }
  }

  .loading-indicator {
    color: var(--primary-text-color);
    font-size: 0.75rem;
    margin-top: 0.4rem;
    font-weight: 600;
  }
  .error-msg {
    color: var(--error-color);
    font-size: 0.75rem;
    margin-top: 0.4rem;
    font-weight: 600;
  }
}

.form-actions {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;

  .btn-secondary {
    background-color: var(--primary-border-color);
    color: var(--primary-text-color);
    border: none;
    padding: 0.75rem 2.5rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--secondary-color);
    }
  }

  .btn-primary {
    padding: 0.75rem 2.5rem;
  }
}

.btn-return {
  width: max-content;
  background-color: var(--primary-border-color);
  color: var(--primary-text-color);
  border: none;
  padding: 0.75rem 1rem;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--secondary-color);
  }
}
